@font-face {
    font-family: 'Rye';
    src: url('Fonte/Rye-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bobby Jones Soft';
    src: url('Fonte/Bobby\ Jones\ Soft.otf') format('opentype');
}

* {
    margin: 0;
}
body{
    background-image: url("image/imagem-fundo.png");
}
.exirbir-mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.img-icon-lampada{
    width: 50%;
    margin-bottom: 2%;
}
.txt-desc-produto{
    font-size: 200%;
    color: #ffffff;
    font-family: 'Rye';
    margin-bottom: 1%;
}
.btn-decisao-orcamento{
    width: 25vw;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    background-color: #22416B;
    color: #ffffff;
    font-family: 'Bobby Jones Soft';
    border: 0; 
}

.btn-decisao-orcamento:hover{
    transform: scale(1.1);
}
.card{
    display: flex;
    width: 52%;
    background-color: #ffffff;
    margin-top: 8%;
    margin-left: 25%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 8%;
}
.card-titulo{
    color: #22416B;
    font-size: 300%;
    font-family: 'Rye';
    margin-bottom: 2%;
}
.card-linha{
    width: 30vw;
    align-self: center;
}
.btn-calculo-investidor-cliente{
    background-color: #22416B;
    color: #ffffff;
    font-family: 'Bobby Jones Soft';
    margin-bottom: 4%;
    border: 0;
    border-radius: 15px;
    font-size: 190%;
    width: 15vw;
    height: 6vh;
    margin-top: 2%;
}
.btn-calculo-investidor-cliente:hover{
    transform: scale(1.1);
}
.card-pergunta{
    margin-top: 5%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.card-input{
    border: none;
    background-color: transparent;
    outline: none; 
    border-bottom: 1px solid black;
    width: 45%;
    font-size: 190%;
}
.btn-compra-investidor-cliente{
    background-color: #22416B;
    color: #ffffff;
    font-family: 'Bobby Jones Soft';
    margin-bottom: 4%;
    border: 0;
    border-radius: 15px;
    font-size: 190%;
    width: 50%;
    height: 6vh;
    margin-top: 2%;
}
.btn-compra-investidor-cliente:hover{
    transform: scale(1.1);
}
.card-resultado{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 190%;
    font-family: Arial, Helvetica, sans-serif;
}
.card-select{
    padding: 8px; 
  font-size: 190%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  width: 20vw;
  margin-bottom: 4%;
}